* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.favourite path {
  stroke: red;
}

.link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #969696;
}
